/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/metagenomeassembly Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and reuse the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }

    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }

    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }

    withName: '.*:ASSEMBLY:METAMDBG_ASM' {
        cpus   = 32
        memory = { 50.Gb * task.attempt }
        // 1 day run time for every 7 Gb of input files - min 1d
        time   = { [1.day * (reads.collect { file -> file.size() }.sum() / 7e+9), 1.day].max() * task.attempt }
    }

    withName: '.*:ASSEMBLY:MYLOASM' {
        cpus   = { 32     * task.attempt }
        memory = { 400.GB * task.attempt }
        time   = { 168.h  * task.attempt }
    }

    withName: '.*:ASSEMBLY_QC:GENOMAD_ENDTOEND' {
        errorStrategy = "ignore"
    }

    withName: '.*:BINNING:METATOR_PROCESS_INPUT_BAM' {
        time = { 1.day * task.attempt }
    }

    withName: '.*:BIN_QC:CHECKM2_PREDICT' {
        cpus = 32
        memory = { 50.Gb * task.attempt }
    }

    withName: '.*:BIN_REFINEMENT:HMMER_HMMSEARCH' {
        cpus   = 16
        memory = { 50.Gb * task.attempt }
    }

    withName: '.*:BIN_REFINEMENT:INFERNAL_CMSEARCH' {
        cpus   = 16
        memory = { 50.Gb * task.attempt }
    }

    withName: '.*:BIN_REFINEMENT:MAGSCOT_MAGSCOT' {
        errorStrategy = "ignore"
    }

    withName: '.*:BIN_REFINEMENT:PYRODIGAL' {
        cpus = 16
        memory  = { 1.GB * Math.ceil((fasta.size() / 1e+9 ) * 20) * task.attempt }
    }

    withName: '.*:BIN_TAXONOMY:GTDBTK_CLASSIFYWF' {
        cpus   = { 16 * task.attempt     }
        memory = { 128.GB * task.attempt }
        time   = { 24.h * task.attempt   }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_SORT_MERGEDUP:SAMTOOLS_MERGEDUP' {
        cpus   = 16
        memory = { 1.GB  * Math.ceil((fasta.size() / 1e+9) / 4) * task.attempt }
        time   = { 30.h  * task.attempt }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BWAMEM2_INDEX' {
        memory  = { 1.GB * Math.ceil(28 * fasta.size() / 1e+9) * task.attempt }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_BWAMEM2ALIGNHIC' {
        cpus    = 16
        memory  = {
            def multiplier = reference.size() < 2e9 ? 80 :
                Math.ceil(meta.size / 1e+9) * 30

            return 1.Gb * multiplier * task.attempt
        }
        time    = { 12.h * task.attempt }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_MINIMAP2ALIGNHIC' {
        cpus   = 16
        memory = {
            def multiplier = reference.size() < 2e9 ? 30 :
                (reference.size() < 5e9 ? 50 :
                (reference.size() < 10e9 ? 60 :
                Math.ceil((reference.size() / 1e9) * 3)))

            return 1.GB * multiplier * task.attempt
        }
        time   = { 12.h * task.attempt }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:MINIMAP2_INDEX' {
        cpus   = { 2    * task.attempt                                   }
        memory = { 1.GB * Math.ceil(4 * fasta.size() / 1e+9) * task.attempt }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:MINIMAP2_INDEX' {
        cpus   = { 2    * task.attempt                                   }
        memory = { 1.GB * Math.ceil(4 * fasta.size() / 1e+9) * task.attempt }
    }

    withName: ".*:READ_MAPPING:FASTX_MAP_LONG_READS:FASTXALIGN_MINIMAP2ALIGN" {
        cpus   = { 20   * 1 }
        memory = {
            def refSize = reference.size()
            1.GB * (
                refSize < 2e9 ? 30 : (
                    refSize < 5e9 ? 40 : (
                        refSize < 10e9 ? 60 :
                        // 14Gb genome * 15 should result in significantly higher
                        // allocation than 60 or genome * 3
                        Math.ceil(
                            (refSize / 1e9) * 15
                        )
                    )
                )
            ) * task.attempt
        }
        time   = { 1.h  * (meta.size < 4e9 ? 12 : 48 ) }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:SAMTOOLS_MERGE' {
        cpus   = 16
        memory = { 50.GB * task.attempt }
        time   = { 30.h  * task.attempt }
    }
}
