process { withName: 'BINETTE' { container = 'oras://community.wave.seqera.io/library/binette_gzip:7c802b093c215096' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { container = 'oras://community.wave.seqera.io/library/comebin:1.1.0--a7e5189ce655fa30' } }
process { withName: 'MYLOASM' { container = 'oras://community.wave.seqera.io/library/myloasm:0.6.0--90ec28ab9f040682' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'oras://community.wave.seqera.io/library/semibin:2.4.1--eefeb0dcf2ca104c' } }
