process { withName: 'BINETTE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f4/f49d890620286da8d7663f73091c2caa1b7186ae05da2e885ef039f07d628a96/data' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/46/46c7be4715b72a8d91735d465c9d677cc918f2921f2bdb528dd20222d07975a0/data' } }
process { withName: 'MYLOASM' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/83/8369a41d8a2d92487caa26e8604015f6b2cfd48a78fbe732e891f7c5cd1f1861/data' } }
