process { withName: 'BINETTE' { conda = 'modules/nf-core/binette/.conda-lock/linux_amd64-bd-3dad8d26ac1fc14c_1.txt' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { conda = 'modules/nf-core/comebin/runcomebin/.conda-lock/linux_amd64-bd-5223c63734f57091_1.txt' } }
process { withName: 'MYLOASM' { conda = 'modules/nf-core/myloasm/.conda-lock/linux_amd64-bd-4ee38265ad9e0a04_1.txt' } }
