/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:ASSEMBLY:GENOME_STATS_ASSEMBLIES' {
        ext.args   = { "-b -a" }
        ext.prefix = { "${meta.id}.stats" }
    }

    withName: '.*:ASSEMBLY:METABINTOOLS_IMPORTASM' {
        ext.args   = { "-z --assembler ${meta.assembler}" }
    }

    withName: '.*:ASSEMBLY:MYLOASM' {
        ext.args   = { meta.platform == "pacbio_hifi" ? "--hifi" : "--ont" }
    }

    withName: '.*:ASSEMBLY_ANALYSIS:INFERNAL_CMSEARCH' {
        ext.args   = { "--notrunc" }
        ext.prefix = { "${meta.id}.rrna" }
    }

    withName: '.*:ASSEMBLY_ANALYSIS:CMSEARCH_TO_GFF' {
        ext.args   = { "--filter-partial --e-value-threshold 1e-12" }
        ext.prefix = { "${meta.id}.rrna" }
    }

    withName: '.*:ASSEMBLY_ANALYSIS:GFASTATS' {
        ext.prefix = { "${assembly.getName()}" }
    }

    withName: '.*:ASSEMBLY_ANALYSIS:TIARA_TIARA' {
        ext.prefix = { "${meta.id}.tiara" }
    }

    withName: '.*:ASSEMBLY_ANALYSIS:TRNASCANSE' {
        ext.args   = { "-B -Q --brief" }
        ext.prefix = { "${meta.id}.trna" }
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:CONVERT_DEPTHS' {
        tag        = { "${meta.id}.maxbin2" }
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:VAMB_BIN' {
        ext.args   =  {
            [
                meta?.collated ? "-o :" : "-o",
                "--seed 31415",
                "--minfasta ${params.minimum_bin_size}",
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}.taxvamb" }
    }

    withName: '.*:BINNING:BINNING_VAMB:VAMB_BIN' {
        ext.args   =  {
            [
                meta?.collated ? "-o :" : "-o",
                "--seed 31415",
                "--minfasta ${params.minimum_bin_size}",
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}.vamb" }
    }

    withName: '.*:BINNING:COMEBIN_RUNCOMEBIN' {
        ext.prefix = { "${meta.id}.comebin" }
        ext.args   = { "-s 31415" }
    }

    withName: '.*:BINNING:CONVERT_DEPTHS' {
        tag        = { "${meta.id}.maxbin2" }
    }

    withName: '.*:BINNING:MAXBIN2' {
        ext.args   = ""
        ext.prefix = { "${meta.id}.maxbin2" }
    }

    withName: '.*:BINNING:METABAT2_METABAT2' {
        ext.args   = [
            "--minClsSize ${params.minimum_bin_size} --seed 31514"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}.metabat2" }
    }

    withName: '.*:BINNING:METABINTOOLS_EXPORTFASTA' {
        ext.args   = { "-z" }
        tag        = { "${meta.id}.${meta.binner}" }
    }

    withName: '.*:BINNING:METABINTOOLS_IMPORTBINSET' {
        ext.prefix = { "${meta.id}.${meta.binner}" }
        ext.args   = {
            [
                "--group ${meta.binner}",
                meta.binner in ["vamb_multi", "taxvamb_multi"] ? "--binsplit-separator :" : ""
            ].join(" ").trim()
        }
        ext.args3   = { "-z" }
        tag        = { "${meta.id}.${meta.binner}" }
    }

    withName: '.*:BINNING:METATOR_PIPELINE' {
        ext.args   = { params.hic_enzymes ? "--enzyme ${params.hic_enzymes}" : "" }
        ext.prefix = { "${meta.id}" } // metator already appends "_metator" to files
    }

    withName: '.*:BINNING:SEMIBIN_MULTIEASYBIN' {
        ext.args2   = {[
            "--sequencing-type=long_read",
            "--tag-output=${meta.id}._semibin",
            "--random-seed 31415",
        ].join(" ").trim() }
        ext.prefix = { "${meta.id}.semibin" }
    }

    withName: '.*:BINNING:SEMIBIN_SINGLEEASYBIN' {
        ext.args2   = {[
            "--sequencing-type=long_read",
            "--tag-output=${meta.id}._semibin",
            "--random-seed 31415",
        ].join(" ").trim() }
        ext.prefix = { "${meta.id}.semibin" }
    }

    withName: '.*:BINNING:SPLIT_CIRCLES' {
        ext.args   = { "-s1 -P ${meta.id}.circular." }
        ext.prefix = "output"
    }

    withName: '.*:BINNING_PREPARATION:COVERM_CONTIG_FILTERED' {
        ext.args   = { "-m metabat --min-read-percent-identity ${params.minimum_hifi_perc_identity}" }
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: '.*:BINNING_PREPARATION:COVERM_CONTIG_ALL' {
        ext.args   = { "-m metabat --min-read-percent-identity ${params.minimum_hifi_perc_identity}" }
        ext.prefix = { "${meta.id}.all" }
    }

    withName: '.*:BINNING_PREPARATION:FILTER_ASSEMBLY' {
        ext.args   = [
            params.minimum_contig_size ? "--minimum-contig-size ${params.minimum_contig_size}" : "",
            params.maximum_contig_size ? "--maximum-contig-size ${params.maximum_contig_size}" : "",
            params.extract_circular_contigs ? "--extract-circles" : "",
            params.minimum_circular_contig_length ? "--minimum-circular-contig-length ${params.minimum_circular_contig_length}" : "",
            params.tiara_exclude_classifications ? params.tiara_exclude_classifications.collect { c -> "--exclude-domain ${c}" }.join(" ") : ""
        ].join(" ").trim()
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_INDEX' {
        ext.args   = { "-c" }
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGEDUP' {
        ext.prefix = { "${meta.id}.hic" }
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_BWAMEM2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "-5SPp"
        ext.args4  = "-mpu"
        ext.args5  = "-q ${params.hic_mapping_minq} -F 0x904"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}.${chunkn}" }
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_MINIMAP2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "-ax sr --no-pairing"
        ext.args4  = "-mpu"
        ext.args5  = "-q ${params.hic_mapping_minq} -F 0x904"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}.${chunkn}" }
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:CRAM_MAP_ILLUMINA_HIC:MINIMAP2_INDEX' {
        ext.args = {  "-x sr -I" + Math.ceil(fasta.size()/1e9)+"G" }
    }

    withName: '.*:BINNING_PREPARATION:HIC_MAPPING:PAIRTOOLS_PARSESELECTSORT' {
        ext.prefix = { "${meta.id}.sorted" }
        ext.args   = { "" }
        ext.args2  = { "--drop-sam --drop-readid --min-mapq ${params.hic_mapping_minq}" }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FASTX_MAP_LONG_READS:FASTXALIGN_MINIMAP2ALIGN' {
        ext.args   = { meta.platform == "pacbio_hifi" ? "-x map-hifi" : "-x map-ont" }
        ext.prefix = { "${fastx.getName()}.${meta.id}.${meta.read_id}.${chunkn}.${meta.platform}" }
        tag        = { "${meta.id}.${meta.read_id}" }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FASTX_MAP_LONG_READS:MINIMAP2_INDEX' {
        tag      = { "${meta.id}.${meta.read_id}" }
        ext.args = {  [
            meta.platform == "pacbio_hifi" ? "-x map-hifi" : "-x map-ont",
            "-I" + Math.ceil(fasta.size()/1e9) + "G"
            ].join(" ").trim()
        }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_FAIDX' {
        tag        = { "${meta.id}.${meta.read_id}" }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_INDEX' {
        tag        = { "${meta.id}.${meta.read_id}" }
        ext.args   = { "-c" }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}.${meta.read_id}.${meta.platform}" }
        tag        = { "${meta.id}.${meta.read_id}" }
    }

    withName: '.*:BINNING_PREPARATION:LONG_READ_MAPPING:FILTER_BAM' {
        ext.prefix = { "${meta.id}.${meta.read_id}" }
        tag        = { "${meta.id}.${meta.read_id}" }
    }

    withName: '.*:BIN_QC:CHECKM2_PREDICT' {
        ext.args   = { "--extension gz" }
    }

    withName: '.*:BIN_QC:COVERM_GENOME' {
        ext.args   = { "-m mean --min-read-percent-identity ${params.minimum_hifi_perc_identity}" }
        ext.prefix = { "${meta.id}.${meta.binner}.minimap2.hifi.cov.stats"      }
        tag        = { "${meta.id}.${meta.binner}"                              }
    }

    withName: '.*:BIN_QC:CONCATENATE_COVERM_GENOME' {
        ext.prefix = { "${meta.id}.coverm.genome" }
        tag        = { "${meta.id}" }
    }


    withName: '.*:BIN_REFINEMENT:BINETTE' {
        ext.prefix = { "${meta.id}.binette" }
    }

    withName: '.*:BIN_REFINEMENT:DASTOOL_DASTOOL' {
        ext.args   = { "--write_bin_evals --write_bins" }
        ext.prefix = { "${meta.id}.dastool" }
    }

    withName: '.*:BIN_REFINEMENT:METABINTOOLS_EXPORTFASTA' {
        ext.args   = { "-z" }
        tag        = { "${meta.id}.${meta.binner}" }
    }

    withName: '.*:BIN_REFINEMENT:METABINTOOLS_IMPORTBINSET' {
        ext.prefix = { "${meta.id}.${meta.binner}" }
        ext.args   = {
            [
                "--group ${meta.binner}",
                meta.binner in ["vamb_multi", "taxvamb_multi"] ? "--binsplit-separator :" : ""
            ].join(" ").trim()
        }
        ext.args3   = { "-z" }
        tag        = { "${meta.id}.${meta.binner}" }
    }

    withName: '.*:BIN_REFINEMENT:METABINTOOLS_EXPORTCONTIG2BIN' {
        ext.prefix = { "${meta.id}.${meta.binner}" }
        tag        = { "${meta.id}.${meta.binner}" }
    }

    withName: '.*:BIN_REFINEMENT:PYRODIGAL' {
        ext.args   = { "-p meta" }
    }

    withName: '.*:BIN_TAXONOMY:CSVTK_CONCAT' {
        ext.prefix = { "${meta.id}.gtdb_merged_summary" }
    }

    withName: '.*:BIN_TAXONOMY:CSVTK_JOIN' {
        ext.args   = { "-Ltf '1;1'"              }
        ext.prefix = { "${meta.id}.gtdb_summary" }
    }

    withName: '.*:BIN_TAXONOMY:GTDBTK_CLASSIFYWF' {
        ext.args   = [
                "--extension gz",
                params.gtdbtk_use_full_tree ? "--full_tree" : "",
                params.gtdbtk_place_species ? "--place_species" : ""
        ].join(" ").trim()
    }

    withName: 'METABINTOOLS_MERGEANNOTATE' {
        ext.args4 = { "--column-regex '^${meta.id}.${meta.id}'" }
        ext.args6 = { "-z" }
    }
}
