/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: 'BWAMEM2_MEM' {
        ext.args   = {  }
        ext.args2  = { "-F 0x904" }
        ext.prefix = { "${meta2.id}_${meta2.assembler}_unsorted" }
        tag        = { "${meta2.id}_${meta2.assembler}" }
    }

    withName: 'SORT_HIC_BAM' {
        ext.args   = {  }
        ext.args2  = { "-F 0x904" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/${meta.assembler}/mapping/hic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COVERM_CONTIG' {
        ext.args   = { "-m metabat" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/${meta.assembler}/mapping/pacbio/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HIC_TO_FASTQ' {
        ext.args = "-F 0xB00"
        ext.prefix = { "${meta.id}.hic" }
    }

    withName: 'METATOR_PIPELINE' {
        ext.args   = { "-F" }
        // publishDir = [
        //     path: { "${params.outdir}/hic/mapping/" },
        //     mode: params.publish_dir_mode,
        //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        // ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args   = { "" }
        ext.args2  = { "" }
        ext.prefix = { "${meta2.id}_${meta2.assembler}" }
        tag        = { "${meta2.id}_${meta2.assembler}" }
        publishDir = [
            path: { "${params.outdir}/${meta2.assembler}/mapping/pacbio/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'METABAT2_METABAT2' {
        ext.args   = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/${meta.assembler}/bins_raw/metabat2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // withName: 'MULTIQC' {
    //     ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    //     publishDir = [
    //         path: { "${params.outdir}/multiqc" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

}
