params {
    config_profile_name        = 'Tree of Life Assembly profile'
    config_profile_description = 'A profile to configure data resources to run the pipeline on the Sanger farm. Not for external use'

    checkm2_db = "/lustre/scratch122/tol/resources/checkm2/latest/uniref100.KO.1.dmnd"
    gtdbtk_db = "/lustre/scratch122/tol/resources/gtdb/v232/"
    genomad_db = "/lustre/scratch122/tol/resources/geNomad/latest/"
}
